langchain
bittensor==7.4.0
langchain-openai
sentence_transformers
numpy
datasets
langchain-core
python-dotenv
code_bert_score
cachetools
strenum
detect-secrets
wandb
swebench
autopep8
boto3
smart_open
pydantic==2.9.2
